<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>box1data</key>
	<string>Playstation 2</string>
	<key>box2data</key>
	<string>Playstation</string>
	<key>box3data</key>
	<string>Wii</string>
	<key>box4data</key>
	<string>Xbox 360</string>
	<key>box5data</key>
	<string>Playstation 3</string>
</dict>
</plist>
